discription {
    display: none;
}
body {
    font-family: sans-serif;
    background-color: #eeeeee;
    background-image: url('background1.jpg');
    background-size: 60%;
}

h1 {
    margin-top: 10%;
    text-align: center;
    color: white;
    font-weight: 550;
    font-size: 5rem;
}
h2 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 3%;
}
a {
    color: powderblue;
}

.file-upload {
    border: 7px solid white;
    border-radius: 60px;
    background-color: rgba(0, 0, 0);
    margin: 5% 15%;
    padding: 1.5% 3%;
}

.file-upload-content {
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.home-button {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-size: 10px;
    vertical-align: middle;
    line-height: 35px;
}

.loading {
    color: white;
    font-size: 2rem;
}
.image-upload-wrap {
    margin-top: 20px;
    border: 1px solid white;
    position: relative;
    border-radius: 20px;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: gray;
}

.image-title-wrap {
    color: #222;
}

.drag-text {
    text-transform: uppercase;
    color: white;
    padding-top: 50%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 550;
}
#NEVERSAVE {
    font-size: 1.5rem;
    padding-bottom: 5%;
}

.file-upload-image {
    max-height: 30rem;
    max-width: 90%;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    color: black;
    background: #939393;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #777777;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 5%;
}

.remove-image:hover {
    background: #696969;
    color: white;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all 0.2s ease;
}

.result-brand {
    font-size: 2.8rem;
    color: white;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5%;
}
.result-branddesc {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
    color: lightyellow;
    margin: 0 5% 0 5%;
}
.result-brands {
    font-size: 1.7rem;
    text-align: left;
    color: white;
    font-weight: 700;
    height: 2rem;
}
#result-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20%;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.bar-container {
    height: 2.7rem;
}
.brandboxes {
    position: absolute;
    top: 7px;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
}
.brandbars {
    position: absolute;
    top: 7px;
    left: 0;
    height: 2rem;
    border-radius: 10px;
}
.brandtexts {
    font-size: 1.2rem;
    font-weight: 700;
}
#guc-box {
    background-color: #ed1c24;
}
#guc-bar {
    background-color: #024429;
}
#guc-text {
    color: #bd9302;
}
#dio-box {
    background-color: #b27e80;
}
#dio-bar {
    background-color: #d6bab9;
}
#dio-text {
    color: #261540;
}
#lou-box {
    background-color: #362B18;
}
#lou-bar {
    background-color: #9F8453;
}
#lou-text {
    color: #DED039;
}
#bal-box {
    background-color: #970306;
}
#bal-bar {
    background-color: #D81921;
}
#bal-text {
    color: #f3cfa6;
}
#vln-box {
    background-color: #9C0306;
}
#vln-bar {
    background-color: #FF5565;
}
#vln-text {
    color: #141669;
}
#cha-box {
    background-color: #ff6e6e;
}
#cha-bar {
    background-color: #ffa49e;
}
#cha-text {
    color: #3e3e3e;
}
#fen-box {
    background-color: #dccdbd;
}
#fen-bar {
    background-color: #ffeacf;
}
#fen-text {
    color: #4e4d57;
}
#her-box {
    background-color: #fd6f28;
}
#her-bar {
    background-color: #f9e840;
}
#her-text {
    color: #071a76;
}
#pra-box {
    background-color: #A43E30;
}
#pra-bar {
    background-color: #FF8777;
}
#pra-text {
    color: black;
}
#bur-box {
    background-color: #513819;
}
#bur-bar {
    background-color: #956226;
}
#bur-text {
    color: #E6D4AE;
}
#giv-box {
    background-color: #DF492F;
}
#giv-bar {
    background-color: #E7CE22;
}
#giv-text {
    color: #FF8FB0;
}

.at-resp-share-element {
	text-align: center;
}
.coupangbanner{
	font-size:1.5rem;
	color:white;
}
@media (orientation: landscape) {
    h1 {
        font-size: 3rem;
        margin-top: 3%;
    }
    h2 {
        font-size: 1.5rem;
        padding-top: 1.5%;
    }
    .file-upload {
        padding: 0% 1.5% 1% 1.5%;
        margin: 3% 25%;
        border-radius: 40px;
    }
    .drag-text {
        padding-top: 25%;
        font-size: 1.3rem;
    }
    #NEVERSAVE {
        font-size: 1rem;
        padding-top: 30%;
    }
    .result-brand {
        font-size: 1.3rem;
        margin-bottom: 3%;
    }
    .result-branddesc {
        font-size: 0.8rem;
    }
    .result-brands {
        font-size: 0.8rem;
    }

    .file-upload-image {
        max-height: 18rem;
        max-width: 90%;
        margin: auto;
        padding: 20px;
    }
    .home-button {
        margin-top: 2%;
    }
}
@media (max-width: 714px) {
    h1 {
        font-size: 3rem;
        margin-top: 90px;
    }
    h2 {
        font-size: 1.5rem;
        padding-top: 2%;
    }
    .file-upload {
        margin: 6% 8%;
        padding: 1.5% 3%;
    }
    .drag-text {
        padding-top: 30%;
        font-size: 1.5rem;
    }
    #NEVERSAVE {
        font-size: 1rem;
    }
}